<mj-section full-width="full-width">
    <mj-column width="66.66666666666666%" vertical-align="middle">
        <mj-text align="left" color="#e85034" padding-bottom="0px" padding-top="0"><span style="font-size: 22px; font-weight: bold">{{this.headline}}</span></mj-text>
    </mj-column>
</mj-section>
